# Examples
Input:
### Added files:
['polesie_mes/README.md', 'polesie_mes/sql/database.sql']

### Deleted files:
[]

### Modified files:
['polesie_mes/README.md', 'polesie_mes/sql/database.sql']

###current .gitignore Content
(empty)

Expected Output:
(empty)